.wheel-wrapper {
  position: relative;
  width: 100%;
  margin: 100px auto;
  text-align: center;
}

.wheel-container {
  width: 100%;
  height: 500px;
}
.wheel-pointer {
  position: absolute;
  width: 60px;
  transform: rotate(90deg);
  top: 30px;
  left: 49.5%;
  transform: translateX(-50%);
  font-size: 34px;
  color: red;
  z-index: 10;
  
  img{
    width: 80px;
    transform: rotate(90deg);
  }
}
.result-text {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.spin-btn {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.spin-btn:hover {
  background-color: #1976d2;
}
